body{
  padding: 0px;
  margin: 0px;
  width: 100%;
}

header{
  height: 60px;
  min-height: 60px;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 50;
  max-width: 1024px;
  margin: 0px auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

h2{
  text-align: center;
}

.container_body{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 540px;
  width: 100%;
  padding-top: 22px;
  margin: 0px auto;
}

.button_login{
  min-width: 150px;
  line-height: 38px;
  user-select: none;
  white-space: nowrap;
  border-radius: 9999px;
  border-width: 1px;
  border-color: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  vertical-align: baseline;
  font-weight: 900;
  cursor: pointer;
}